
  <label for="first_name">First Name:</label>
  <input class="form-control" id="first_name" type="text" name="first_name" placeholder="First Name" value="{{first_name}}"></br>

  <label for="last_name">Last Name:</label>
  <input class="form-control" id="last_name" type="text" name="last_name" placeholder="Last Name" value="{{last_name}}"></br>

  <label for="phone_number">Phone Number:</label>
  <input class="form-control" id="phone_number" type="text" name="phone_number" placeholder="Phone Number" value="{{phone_number}}"></br>

  <label for="email_address">Email:</label>
  <input class="form-control" id="email_address" type="text" name="email_address" placeholder="Email" value="{{email_address}}"></br>

  <label for="img_url">Image URL:</label>
  <input class="form-control" id="img_url" type="text" name="img_url" placeholder="Image URL" value="{{img_url}}" ></br>
